<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BookCenter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="BookCenterDBEntities" connectionString="metadata=res://*/DataBase.BookCenterModel.csdl|res://*/DataBase.BookCenterModel.ssdl|res://*/DataBase.BookCenterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TUNERYUSUF-PC;initial catalog=BookCenterDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BookCenterDBEntities1" connectionString="metadata=res://*/DataBase.BookCenterDB.csdl|res://*/DataBase.BookCenterDB.ssdl|res://*/DataBase.BookCenterDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TUNERYUSUF-PC;initial catalog=BookCenterDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <BookCenter.Properties.Settings>
      <setting name="UserAutho" serializeAs="String">
        <value />
      </setting>
    </BookCenter.Properties.Settings>
  </userSettings>
</configuration>